<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Shop</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">	
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="header ficb">
				<a href="/"><img src="img/logo.svg" alt="logo" class="logo"></a>
				<nav>
					<ul class="menu ficc">
						<li class="menu__item"><a href="#" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="card">
		<div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					<img src="img/cardImg.jpg" alt="img" class="card__img">
				</div>
				<div class="card__block card__block_sec">
					<div class="title">Летнее утро</div>
					<div class="card__block_price">3 600 руб</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
							<span class="card_items_intro">
								Гортензия розовая - 1 шт.
							</span>
							<span class="card_items_intro">
								Ветки эквалипта - 5 шт.
							</span>
							<span class="card_items_intro">
								Гипсофила - 1 шт.
							</span>
							<span class="card_items_intro">
								Матовая упаковка - 1 шт.
							</span>
							<span class="card_items_intro">
								Лента атласная - 1 шт.
							</span>
							<span class="card_items_intro">
								Рекомендация по уходу - 1 шт.
							</span>
							<span class="card_items_intro">
								Открыточка с вашими пожеланиями - 1 шт.
							</span>
							<span class="card_items_intro">
								Любовь флориста (бесплатно) - 1 шт.
							</span>
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Размер</span>
						<div class="card__items">
							<span class="card_items_intro">
								Высота - 50 см
							</span>
							<span class="card_items_intro">
								Ширина - 30 см
							</span>
						</div>
					</div>
					<button class="btn largeBtn card__btn">Заказать букет</button>
				</div>
			</div>
		</div>
	</section>
	<section id="consultation">
		<div class="container">
			<div class="consultation">
				<div class="title consultation__title">Оставьте заявку на консультацию</div>
				<form action="#" class="consultation__form">
					<input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
					<input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
					<button type="submit" class="consultation__form_btn">Отправить</button>
				</form>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<a href="/"><img src="img/logo.svg" alt="logo" class="logo footer__logo"></a>
				<nav>
					<ul class="menu footer__menu ficc">
						<li class="menu__item"><a href="#" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
				<hr class="line"></hr>
				<a href="#" class="footer__poli">Политика конфиденциальности</a>
				<p class="footer_cop">©️2022. FlowerShop. Все права защищены</p>
			</div>
		</div>
	</footer>
</body>
</html>