<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Shop</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">	
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="header ficb">
				<a href="/"><img src="img/logo.svg" alt="logo" class="logo"></a>
				<nav>
					<ul class="menu ficc">
						<li class="menu__item"><a href="#" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="quiz">
		<div class="container">
			<div class="quiz">
				<div class="quiz__back ">
					<a href="#" class="quiz__back_link fic"><img src="img/arrow-left.svg" alt="arrow-left" class="arrowLeft">
					<span class="quiz__back_intro">Назад</span></a>
				</div>
				<div class="quiz__block">
					<h1 class="quiz__title">К какому событию нужен букет?</h1>
					<div class="quiz__elems fic">
						<button class="quiz__elem">Свадьба</button>
						<button class="quiz__elem">День рождения</button>
						<button class="quiz__elem">Без повода</button>
					</div>
					<div class="quiz__progress">
						<div class="quiz__progress_step">
							<span class="quiz__progress_num">1</span>
							<span class="quiz__progress_in"> шаг из </span>
							<span class="quiz__progress_num">2</span>
						</div>
						<div class="quiz__progress_line">
							<div class="quiz__progress_lineActive"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</body>
</html>